.env
/www/vendor/
.idea
/www/config.ini
/www/composer.lock
/www/log/*
!/www/log/.gitkeep
/www/helpers/
/volumes/mysql/*
!/volumes/mysql/.gitkeep
/volumes/rabbitmq/*
!/volumes/rabbitmq/.gitkeep
/volumes/socket/*
!/volumes/socket/.gitkeep